<div class="home">

  <div class="home__wrapper">
    <div [routerLink]="['albums', 'rock']" class="home__item">
      <div class="home__text">Rock</div>
      <img class="home__image" src="assets/img/rock.jpg" alt="rock music image">
    </div>
    <div [routerLink]="['albums', 'electro']" class="home__item">
      <div class="home__text">Electro</div>
      <img class="home__image" src="assets/img/electro.jpg" alt="rock music image">
    </div>
    <div [routerLink]="['albums', 'hiphop']" class="home__item">
      <div class="home__text">Hip-Hop</div>
      <img class="home__image" src="assets/img/hiphop.jpg" alt="rock music image">
    </div>
    <div [routerLink]="['albums', 'pop']" class="home__item">
      <div class="home__text">Pop</div>
      <img class="home__image" src="assets/img/pop.jpg" alt="rock music image">
    </div>
    <div [routerLink]="['albums', 'randb']" class="home__item">
      <div class="home__text">R&B</div>
      <img class="home__image" src="assets/img/rb.jpg" alt="rock music image">
    </div>
    <div [routerLink]="['albums', 'indie']" class="home__item">
      <div class="home__text">Indie</div>
      <img class="home__image" src="assets/img/indie.jpg" alt="rock music image">
    </div>
  </div>

</div>
